flows.json
[
    {
        "id": "5d883b66ab92c38f",
        "type": "tab",
        "label": "control flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57d42cd62c098dd8",
        "type": "tab",
        "label": "ui flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40461bd5482c6f38",
        "type": "group",
        "z": "5d883b66ab92c38f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d6577d4db9cbded4",
            "b97d8dcaebe9cc85",
            "9415f762de6c9ced",
            "bf8022099b6ce347",
            "966379b5822bea96",
            "20fc9533e15a9b16",
            "ea6ce5623dba5f24"
        ],
        "x": 1534,
        "y": 79,
        "w": 592,
        "h": 282
    },
    {
        "id": "a88aefe847628dac",
        "type": "modbus-client",
        "name": "device1_CL",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.150",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 500,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "2f58b529582ef497",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "หน้าแดชบอร์ด",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 4,
                "gy": 4,
                "cx": 4,
                "cy": 4,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "14d907ed7b4499d5",
        "type": "ui_tab",
        "name": "กลุ่ม1",
        "icon": "fa-thermometer fa-2x",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cbd28290cff7840e",
        "type": "ui_group",
        "name": "STATION 1",
        "tab": "14d907ed7b4499d5",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2edbec94b594986",
        "type": "ui_group",
        "name": "STATION 2",
        "tab": "14d907ed7b4499d5",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "137cf211fbdde820",
        "type": "ui_group",
        "name": "STATION 3",
        "tab": "ad6ffc42dd70a159",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adfdd2d9a43a588b",
        "type": "ui_group",
        "name": "STATION 4",
        "tab": "ad6ffc42dd70a159",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbfe52798d66e999",
        "type": "ui_group",
        "name": "STATION 5",
        "tab": "d012971672606c24",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "103024e27dc641c8",
        "type": "modbus-client",
        "name": "device2_CL",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.152",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "bdfb47cc98849705",
        "type": "modbus-client",
        "name": "device3_CL",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.154",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "707af59891c7b850",
        "type": "modbus-client",
        "name": "device4_CL",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.156",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "18297589bebc75cf",
        "type": "modbus-client",
        "name": "device5_CL",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.158",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "1168ef5818bc8b5a",
        "type": "modbus-client",
        "name": "device6_CL",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.4.100",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "ad6ffc42dd70a159",
        "type": "ui_tab",
        "name": "กลุ่ม2",
        "icon": "fa-thermometer fa-2x",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d42f4af06bc50e7c",
        "type": "ui_tab",
        "name": "UTILITY",
        "icon": "fa-cog fa-2x",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93ac9517cad78fb4",
        "type": "ui_group",
        "name": "kill windows",
        "tab": "d42f4af06bc50e7c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c67235844a47b630",
        "type": "ui_group",
        "name": "ip",
        "tab": "d42f4af06bc50e7c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fd3ee120138dbb4",
        "type": "ui_group",
        "name": "open dashboard",
        "tab": "d42f4af06bc50e7c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9ed09ec393c2a6d",
        "type": "ui_group",
        "name": "shutdown",
        "tab": "d42f4af06bc50e7c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69857fedd2ce5450",
        "type": "ui_group",
        "name": "reboot",
        "tab": "d42f4af06bc50e7c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d012971672606c24",
        "type": "ui_tab",
        "name": "กลุ่ม3",
        "icon": "fa-thermometer fa-2x",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e5d33deca34fe64a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d012971672606c24",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5ece0e85175c8435",
        "type": "modbus-read",
        "z": "5d883b66ab92c38f",
        "d": true,
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "100",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a88aefe847628dac",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 870,
        "y": 100,
        "wires": [
            [],
            [
                "5c497c31bec8e0de"
            ]
        ]
    },
    {
        "id": "d00da78360a53e66",
        "type": "modbus-write",
        "z": "5d883b66ab92c38f",
        "name": "esp32",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "100",
        "quantity": "1",
        "server": "a88aefe847628dac",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 890,
        "y": 300,
        "wires": [
            [],
            [
                "04c81571a358b1d2",
                "3f35a710691ef6dc"
            ]
        ]
    },
    {
        "id": "eb3eda46089c0475",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "d00da78360a53e66"
            ]
        ]
    },
    {
        "id": "9239fbca6d600ac6",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "d00da78360a53e66"
            ]
        ]
    },
    {
        "id": "3f35a710691ef6dc",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 1",
        "func": "let m = msg.payload.state\nif(m==true){\n    msg.payload = \"ON\";\n}else{\n    msg.payload = \"OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5c497c31bec8e0de",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 2",
        "func": "let m = msg.payload.data[0];\n\nmsg.payload = m/100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "d5a24ed63c427214"
            ]
        ]
    },
    {
        "id": "04c81571a358b1d2",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 3",
        "func": "let m = msg.payload.state\nif(m==true){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f08ec2e45f2e304c",
        "type": "modbus-flex-getter",
        "z": "5d883b66ab92c38f",
        "name": "device1",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "a88aefe847628dac",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2660,
        "y": 1060,
        "wires": [
            [
                "5754b5b780ed230a",
                "3a87d11b61f40e0d"
            ],
            []
        ]
    },
    {
        "id": "e1a86320bee22fc0",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "e02e561ba9473a03"
            ]
        ]
    },
    {
        "id": "bc70a047a62ad53d",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 4",
        "func": "msg.payload =\"\";\nmsg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 99 , 'quantity': 2 } \nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 1060,
        "wires": [
            [
                "f08ec2e45f2e304c"
            ]
        ]
    },
    {
        "id": "bd242981480a314e",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 480,
        "wires": []
    },
    {
        "id": "d5a24ed63c427214",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "ef50845f60e3284b",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5808ea60c01cb295",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "38cf39e93493cd0a",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "015516edf27a0187",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d6577d4db9cbded4",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "1s rate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 1650,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b97d8dcaebe9cc85",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "2s rate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 1650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9415f762de6c9ced",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "5s rate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5000",
        "payloadType": "num",
        "x": 1650,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bf8022099b6ce347",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "Stop",
        "props": [
            {
                "p": "reset",
                "v": "haha",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1910,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "966379b5822bea96",
        "type": "comment",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "Programmable interval inject",
        "info": "This flow functions and an inject node, but allows the interval to be changed.\nThe basic principle that the delay node output if fed back to itself through a change node which sets the appropriate delay for each message.\n\nThe 3 sample inject node set the interval to 1s, 2s, 5s. The interval is sent in the msg.payload in milliseconds.\nThese inject nodes can be supplemented with a dashboard input field (slider, dropdown) so it can be controlled from the screen as well.\nThis flow does not start sending out messages when deployed, if that is required, create another inject node with default rate and set to trigger on startup. \nI also added a \"Autostart with saved value\" this should be used if the flow variable is saved to file (in that case update the change nodes to use the file storage) so it can restart the trigger with the last delay value read from the file system (set this inject node to trigger on startup).\n\nThe interval is stored in a flow context variable, and this value is inserted into the message every time by the change node above the delay node. This ensures that if the rate value in the context value changes, it is applied at the next message.\n\nI added the delay 100ms and the msg.reset nodes, because when the rate changes it introduces a new message the recursive loop and that would mess up the timing.\n\n\"Stop\" inject node resets the delay node (deleted the message that keeps triggeting itelf) and stops the process.",
        "x": 1690,
        "y": 180,
        "wires": []
    },
    {
        "id": "20fc9533e15a9b16",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "Autostart with saved value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tick",
        "payload": "trigger",
        "payloadType": "str",
        "x": 1690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ea6ce5623dba5f24",
        "type": "comment",
        "z": "5d883b66ab92c38f",
        "g": "40461bd5482c6f38",
        "name": "======SUBSCRIBE TO MY CHANNEL======",
        "info": "",
        "x": 1920,
        "y": 320,
        "wires": []
    },
    {
        "id": "22dc4878e1812149",
        "type": "ui_switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "cbd28290cff7840e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "0085833c76c7e5ce",
                "03b52b3d225a5db5",
                "f38c99a860fdd9bd"
            ]
        ]
    },
    {
        "id": "3234f262056babaf",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "Recursive delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 2270,
        "y": 1060,
        "wires": [
            [
                "bc70a047a62ad53d",
                "572e6832bcf30618",
                "bd6f4e7ae768eb34"
            ]
        ]
    },
    {
        "id": "4158a248e1e2b3e4",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ratelimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tick",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "trigger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1020,
        "wires": [
            [
                "b300a73d7dc605ae",
                "dc0ddfa85869080c"
            ]
        ]
    },
    {
        "id": "572e6832bcf30618",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "ratelimit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 980,
        "wires": [
            [
                "3234f262056babaf"
            ]
        ]
    },
    {
        "id": "dc0ddfa85869080c",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1020,
        "wires": [
            [
                "3234f262056babaf"
            ]
        ]
    },
    {
        "id": "b300a73d7dc605ae",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 980,
        "wires": [
            [
                "572e6832bcf30618"
            ]
        ]
    },
    {
        "id": "eb4de153e0cf18df",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 6",
        "func": "msg.topic = \"connecting...\"\nmsg.payload = 2000;\nmsg.enabled = false\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1020,
        "wires": [
            [
                "4158a248e1e2b3e4",
                "22dc4878e1812149",
                "96c5ed5083fb49ef"
            ]
        ]
    },
    {
        "id": "3c802eabfb2ec8f8",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 1020,
        "wires": [
            [
                "eb4de153e0cf18df"
            ],
            [
                "58bd7874bee17ffa"
            ]
        ]
    },
    {
        "id": "58bd7874bee17ffa",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 7",
        "func": "msg.topic = \"connection closed\"\nmsg.reset = \"haha\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1060,
        "wires": [
            [
                "3234f262056babaf",
                "22dc4878e1812149",
                "0085833c76c7e5ce"
            ]
        ]
    },
    {
        "id": "8444dd95fa41f971",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "connecting",
        "payload": "true",
        "payloadType": "bool",
        "x": 880,
        "y": 920,
        "wires": [
            [
                "22dc4878e1812149",
                "8c2abdbf345d992a",
                "49f1a177cb742804",
                "f09a163946340464",
                "734c0f9dbc6ff0e3"
            ]
        ]
    },
    {
        "id": "ea6f2cdccaf47589",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 8",
        "func": "msg.payload = false\nmsg.topic = \"connection fail.try again\"\nmsg.enabled = true\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1080,
        "wires": [
            [
                "244e5c38b4a1aa86"
            ]
        ]
    },
    {
        "id": "c615915884fbc0ff",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 720,
        "wires": []
    },
    {
        "id": "e02e561ba9473a03",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "tem/hum",
        "func": "let h = 10;\nlet t = 50;\nh = h/100;\nt = t/100;\nreturn [{payload:h},{payload:t}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "1c0fa479d49dc83c"
            ],
            [
                "bd242981480a314e"
            ]
        ]
    },
    {
        "id": "1c0fa479d49dc83c",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 46",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a2f7456e8a20679",
        "type": "catch",
        "z": "5d883b66ab92c38f",
        "name": "error.source.name",
        "scope": null,
        "uncaught": false,
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "ea6f2cdccaf47589",
                "e54a9ac309df6e71"
            ]
        ]
    },
    {
        "id": "1f6446a2effc0f7e",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "error.source.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 870,
        "y": 1040,
        "wires": [
            [
                "22dc4878e1812149"
            ],
            [
                "8c2abdbf345d992a"
            ],
            [
                "49f1a177cb742804"
            ],
            [
                "f09a163946340464"
            ],
            [
                "734c0f9dbc6ff0e3"
            ],
            []
        ]
    },
    {
        "id": "5754b5b780ed230a",
        "type": "link out",
        "z": "5d883b66ab92c38f",
        "name": "link1",
        "mode": "link",
        "links": [
            "14eed0e70fa8a199"
        ],
        "x": 2795,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cd54cb66c9645dde",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 29",
        "func": "if(msg.payload == true){\n    msg.topic = \"connecting ...\"\n}else{\n    msg.topic = \"connection close\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 160,
        "wires": [
            [
                "e4f52a538911b0da"
            ]
        ]
    },
    {
        "id": "e4f52a538911b0da",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 48",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec9e5a2d259ddd62",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "bd242981480a314e"
            ]
        ]
    },
    {
        "id": "0085833c76c7e5ce",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1020,
        "wires": [
            [
                "3c802eabfb2ec8f8"
            ]
        ]
    },
    {
        "id": "3a87d11b61f40e0d",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "\"\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2060,
        "y": 1100,
        "wires": [
            [
                "5c9ffa1b04517050"
            ]
        ]
    },
    {
        "id": "244e5c38b4a1aa86",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 1080,
        "wires": [
            [
                "1f6446a2effc0f7e"
            ]
        ]
    },
    {
        "id": "5c9ffa1b04517050",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 35",
        "func": "msg.topic = \"connected\"\nmsg.payload =true\nmsg.enabled = true\nmsg.reset=\"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1100,
        "wires": [
            [
                "0085833c76c7e5ce",
                "22dc4878e1812149"
            ]
        ]
    },
    {
        "id": "96c5ed5083fb49ef",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 36",
        "func": "msg.reset= \"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1100,
        "wires": [
            [
                "3a87d11b61f40e0d"
            ]
        ]
    },
    {
        "id": "e54a9ac309df6e71",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 42",
        "func": "msg.reset=\"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1040,
        "wires": [
            [
                "1f6446a2effc0f7e"
            ]
        ]
    },
    {
        "id": "a17a289ca2cf0927",
        "type": "ui_switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "cbd28290cff7840e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1550,
        "y": 920,
        "wires": [
            [
                "07492316c843bf3e"
            ]
        ]
    },
    {
        "id": "509b9d6bc9be2446",
        "type": "modbus-write",
        "z": "5d883b66ab92c38f",
        "name": "device1_RL",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "100",
        "quantity": "1",
        "server": "a88aefe847628dac",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1850,
        "y": 860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "adc48a4e444d5bf8",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 43",
        "func": "let s = msg.responseBuffer.buffer[0]\nif(s==true){\n    msg.topic= \"turn on\"\n    msg.payload = true;\n}else{\n    msg.topic= \"turn off\"\n    msg.payload = false;\n}\nmsg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 720,
        "wires": [
            [
                "c615915884fbc0ff",
                "a17a289ca2cf0927"
            ]
        ]
    },
    {
        "id": "0271be0f2336417d",
        "type": "link out",
        "z": "5d883b66ab92c38f",
        "name": "link3",
        "mode": "link",
        "links": [
            "f1435771f4c7e85a"
        ],
        "x": 2835,
        "y": 1360,
        "wires": []
    },
    {
        "id": "8c1e6d7f309a6fd0",
        "type": "link out",
        "z": "5d883b66ab92c38f",
        "name": "link4",
        "mode": "link",
        "links": [
            "e9edabef99ad98ad"
        ],
        "x": 2795,
        "y": 1600,
        "wires": []
    },
    {
        "id": "cbd0304b906d0898",
        "type": "link out",
        "z": "5d883b66ab92c38f",
        "name": "link5",
        "mode": "link",
        "links": [
            "9a93d263cf457dd0"
        ],
        "x": 2805,
        "y": 1800,
        "wires": []
    },
    {
        "id": "fab431cd3e23f748",
        "type": "link out",
        "z": "5d883b66ab92c38f",
        "name": "link6",
        "mode": "link",
        "links": [],
        "x": 2705,
        "y": 2000,
        "wires": []
    },
    {
        "id": "cbf5fc0c1a7f76d5",
        "type": "modbus-flex-getter",
        "z": "5d883b66ab92c38f",
        "name": "device2",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "103024e27dc641c8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2660,
        "y": 1240,
        "wires": [
            [
                "6a09123a76cd87c6",
                "9ce88d5c4028c31e",
                "bcaef7d385b6c644"
            ],
            []
        ]
    },
    {
        "id": "76e41670b21190a2",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 44",
        "func": "msg.payload =\"\";\nmsg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 99 , 'quantity': 2 } \nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 1240,
        "wires": [
            [
                "cbf5fc0c1a7f76d5"
            ]
        ]
    },
    {
        "id": "8c2abdbf345d992a",
        "type": "ui_switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "c2edbec94b594986",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1200,
        "wires": [
            [
                "fbf149f985bf8153"
            ]
        ]
    },
    {
        "id": "5da0e1b227f98a05",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "Recursive delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 2270,
        "y": 1240,
        "wires": [
            [
                "76e41670b21190a2",
                "72cc475af77b72a1"
            ]
        ]
    },
    {
        "id": "85f258e9908b957f",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ratelimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tick",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "trigger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1200,
        "wires": [
            [
                "b4b9de38d8f62ccc",
                "6fff8dc1b82ad9af"
            ]
        ]
    },
    {
        "id": "72cc475af77b72a1",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "ratelimit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1160,
        "wires": [
            [
                "5da0e1b227f98a05"
            ]
        ]
    },
    {
        "id": "6fff8dc1b82ad9af",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1200,
        "wires": [
            [
                "5da0e1b227f98a05"
            ]
        ]
    },
    {
        "id": "b4b9de38d8f62ccc",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 1160,
        "wires": [
            [
                "72cc475af77b72a1"
            ]
        ]
    },
    {
        "id": "e5e9dedf820fa12f",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 45",
        "func": "msg.topic = \"connecting...\"\nmsg.payload = 2000;\nmsg.enabled = false\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1200,
        "wires": [
            [
                "85f258e9908b957f",
                "8c2abdbf345d992a",
                "c24a9254ddd3f996"
            ]
        ]
    },
    {
        "id": "c574f10bf34ff166",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 1200,
        "wires": [
            [
                "e5e9dedf820fa12f"
            ],
            [
                "f3bad492cdf3b446"
            ]
        ]
    },
    {
        "id": "f3bad492cdf3b446",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 46",
        "func": "msg.topic = \"connection closed\"\nmsg.reset = \"haha\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1240,
        "wires": [
            [
                "5da0e1b227f98a05",
                "8c2abdbf345d992a",
                "fbf149f985bf8153"
            ]
        ]
    },
    {
        "id": "6a09123a76cd87c6",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 49",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2780,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9ce88d5c4028c31e",
        "type": "link out",
        "z": "5d883b66ab92c38f",
        "name": "link2",
        "mode": "link",
        "links": [
            "7c889ee817a2962f"
        ],
        "x": 2795,
        "y": 1240,
        "wires": []
    },
    {
        "id": "fbf149f985bf8153",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1200,
        "wires": [
            [
                "c574f10bf34ff166"
            ]
        ]
    },
    {
        "id": "bcaef7d385b6c644",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "\"\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2060,
        "y": 1280,
        "wires": [
            [
                "f0b2a04e70acebaf"
            ]
        ]
    },
    {
        "id": "f0b2a04e70acebaf",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 47",
        "func": "msg.topic = \"connected\"\nmsg.payload =true\nmsg.enabled = true\nmsg.reset=\"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1280,
        "wires": [
            [
                "fbf149f985bf8153",
                "8c2abdbf345d992a"
            ]
        ]
    },
    {
        "id": "c24a9254ddd3f996",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 48",
        "func": "msg.reset= \"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1280,
        "wires": [
            [
                "bcaef7d385b6c644"
            ]
        ]
    },
    {
        "id": "d4eea4ef8f25419c",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 49",
        "func": "msg.payload =\"\";\nmsg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 99 , 'quantity': 2 } \nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 1420,
        "wires": [
            [
                "d8c35800816dadf3"
            ]
        ]
    },
    {
        "id": "49f1a177cb742804",
        "type": "ui_switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "137cf211fbdde820",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1380,
        "wires": [
            [
                "76daf0e109dcc7de"
            ]
        ]
    },
    {
        "id": "e0dd938f8e922124",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "Recursive delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 2270,
        "y": 1420,
        "wires": [
            [
                "d4eea4ef8f25419c",
                "14c9ecf417a6270e"
            ]
        ]
    },
    {
        "id": "15a8822bc15f3542",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ratelimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tick",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "trigger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1380,
        "wires": [
            [
                "80466108af8c4905",
                "1e52480c986b8f51"
            ]
        ]
    },
    {
        "id": "14c9ecf417a6270e",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "ratelimit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1340,
        "wires": [
            [
                "e0dd938f8e922124"
            ]
        ]
    },
    {
        "id": "1e52480c986b8f51",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1380,
        "wires": [
            [
                "e0dd938f8e922124"
            ]
        ]
    },
    {
        "id": "80466108af8c4905",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 1340,
        "wires": [
            [
                "14c9ecf417a6270e"
            ]
        ]
    },
    {
        "id": "518e84a21a3c4980",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 50",
        "func": "msg.topic = \"connecting...\"\nmsg.payload = 2000;\nmsg.enabled = false\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1380,
        "wires": [
            [
                "15a8822bc15f3542",
                "49f1a177cb742804",
                "9cdc8f44bb47b0a1"
            ]
        ]
    },
    {
        "id": "9879c835b8c845cb",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 1380,
        "wires": [
            [
                "518e84a21a3c4980"
            ],
            [
                "13db126b3a231e64"
            ]
        ]
    },
    {
        "id": "13db126b3a231e64",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 51",
        "func": "msg.topic = \"connection closed\"\nmsg.reset = \"haha\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1420,
        "wires": [
            [
                "e0dd938f8e922124",
                "49f1a177cb742804",
                "76daf0e109dcc7de"
            ]
        ]
    },
    {
        "id": "76daf0e109dcc7de",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1380,
        "wires": [
            [
                "9879c835b8c845cb"
            ]
        ]
    },
    {
        "id": "8e0898b4cc03fcb2",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "\"\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2060,
        "y": 1460,
        "wires": [
            [
                "33d6f5259dc8a07b"
            ]
        ]
    },
    {
        "id": "33d6f5259dc8a07b",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 52",
        "func": "msg.topic = \"connected\"\nmsg.payload =true\nmsg.enabled = true\nmsg.reset=\"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1460,
        "wires": [
            [
                "76daf0e109dcc7de",
                "49f1a177cb742804"
            ]
        ]
    },
    {
        "id": "9cdc8f44bb47b0a1",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 53",
        "func": "msg.reset= \"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1460,
        "wires": [
            [
                "8e0898b4cc03fcb2"
            ]
        ]
    },
    {
        "id": "3ff7dc186c06ab72",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 54",
        "func": "msg.payload =\"\";\nmsg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 99 , 'quantity': 2 } \nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 1600,
        "wires": [
            [
                "643f4e214e0dfc04"
            ]
        ]
    },
    {
        "id": "f09a163946340464",
        "type": "ui_switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "adfdd2d9a43a588b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1560,
        "wires": [
            [
                "01b948db58364e16"
            ]
        ]
    },
    {
        "id": "b563d2a40c2cc433",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "Recursive delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 2270,
        "y": 1600,
        "wires": [
            [
                "3ff7dc186c06ab72",
                "d222ca4039c97bb7"
            ]
        ]
    },
    {
        "id": "36e0c26e89f7583a",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ratelimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tick",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "trigger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1560,
        "wires": [
            [
                "a9112764ba4a02d9",
                "bc8cdfe8a02836a2"
            ]
        ]
    },
    {
        "id": "d222ca4039c97bb7",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "ratelimit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1520,
        "wires": [
            [
                "b563d2a40c2cc433"
            ]
        ]
    },
    {
        "id": "bc8cdfe8a02836a2",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1560,
        "wires": [
            [
                "b563d2a40c2cc433"
            ]
        ]
    },
    {
        "id": "a9112764ba4a02d9",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 1520,
        "wires": [
            [
                "d222ca4039c97bb7"
            ]
        ]
    },
    {
        "id": "a0d4bf0464f213f7",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 55",
        "func": "msg.topic = \"connecting...\"\nmsg.payload = 2000;\nmsg.enabled = false\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1560,
        "wires": [
            [
                "36e0c26e89f7583a",
                "f09a163946340464",
                "470ca811197c00be"
            ]
        ]
    },
    {
        "id": "d8aef9ae28e7a74b",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 1560,
        "wires": [
            [
                "a0d4bf0464f213f7"
            ],
            [
                "25e0552bf89fe5d4"
            ]
        ]
    },
    {
        "id": "25e0552bf89fe5d4",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 56",
        "func": "msg.topic = \"connection closed\"\nmsg.reset = \"haha\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1600,
        "wires": [
            [
                "b563d2a40c2cc433",
                "f09a163946340464",
                "01b948db58364e16"
            ]
        ]
    },
    {
        "id": "01b948db58364e16",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1560,
        "wires": [
            [
                "d8aef9ae28e7a74b"
            ]
        ]
    },
    {
        "id": "5401d1b731bb4d57",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "\"\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2060,
        "y": 1640,
        "wires": [
            [
                "b3f1f20c2e3c9fd4"
            ]
        ]
    },
    {
        "id": "b3f1f20c2e3c9fd4",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 57",
        "func": "msg.topic = \"connected\"\nmsg.payload =true\nmsg.enabled = true\nmsg.reset=\"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1640,
        "wires": [
            [
                "01b948db58364e16",
                "f09a163946340464"
            ]
        ]
    },
    {
        "id": "470ca811197c00be",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 58",
        "func": "msg.reset= \"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1640,
        "wires": [
            [
                "5401d1b731bb4d57"
            ]
        ]
    },
    {
        "id": "4e74e6ca6b7b16ff",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 59",
        "func": "msg.payload =\"\";\nmsg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 99 , 'quantity': 2 } \nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 1800,
        "wires": [
            [
                "c30826a17f3fb765"
            ]
        ]
    },
    {
        "id": "734c0f9dbc6ff0e3",
        "type": "ui_switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "fbfe52798d66e999",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1760,
        "wires": [
            [
                "b3990408f147eadb"
            ]
        ]
    },
    {
        "id": "522b10ddb4ec32fb",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "Recursive delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 2270,
        "y": 1800,
        "wires": [
            [
                "4e74e6ca6b7b16ff",
                "b2b38bb0f72fca47"
            ]
        ]
    },
    {
        "id": "78cd3dc5670c9ea6",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ratelimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tick",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "trigger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1760,
        "wires": [
            [
                "1d8a1c8b0a1cc65c",
                "592606d5c7559403"
            ]
        ]
    },
    {
        "id": "b2b38bb0f72fca47",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "ratelimit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1720,
        "wires": [
            [
                "522b10ddb4ec32fb"
            ]
        ]
    },
    {
        "id": "592606d5c7559403",
        "type": "change",
        "z": "5d883b66ab92c38f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1760,
        "wires": [
            [
                "522b10ddb4ec32fb"
            ]
        ]
    },
    {
        "id": "1d8a1c8b0a1cc65c",
        "type": "delay",
        "z": "5d883b66ab92c38f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 1720,
        "wires": [
            [
                "b2b38bb0f72fca47"
            ]
        ]
    },
    {
        "id": "a4366bf03ae97776",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 60",
        "func": "msg.topic = \"connecting...\"\nmsg.payload = 2000;\nmsg.enabled = false\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1760,
        "wires": [
            [
                "78cd3dc5670c9ea6",
                "734c0f9dbc6ff0e3",
                "ab1ad4c9f6fc7c90"
            ]
        ]
    },
    {
        "id": "052cab6526236765",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 1760,
        "wires": [
            [
                "a4366bf03ae97776"
            ],
            [
                "e89242e66b86516d"
            ]
        ]
    },
    {
        "id": "e89242e66b86516d",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 61",
        "func": "msg.topic = \"connection closed\"\nmsg.reset = \"haha\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1800,
        "wires": [
            [
                "522b10ddb4ec32fb",
                "734c0f9dbc6ff0e3",
                "b3990408f147eadb"
            ]
        ]
    },
    {
        "id": "b3990408f147eadb",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1760,
        "wires": [
            [
                "052cab6526236765"
            ]
        ]
    },
    {
        "id": "9a49e52667ae4680",
        "type": "trigger",
        "z": "5d883b66ab92c38f",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "\"\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2060,
        "y": 1840,
        "wires": [
            [
                "fcfac3fab2fbfd38"
            ]
        ]
    },
    {
        "id": "fcfac3fab2fbfd38",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 62",
        "func": "msg.topic = \"connected\"\nmsg.payload =true\nmsg.enabled = true\nmsg.reset=\"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1840,
        "wires": [
            [
                "b3990408f147eadb",
                "734c0f9dbc6ff0e3"
            ]
        ]
    },
    {
        "id": "ab1ad4c9f6fc7c90",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 63",
        "func": "msg.reset= \"haha\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1840,
        "wires": [
            [
                "9a49e52667ae4680"
            ]
        ]
    },
    {
        "id": "03b52b3d225a5db5",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 64",
        "func": "msg.topic = \"-------\"\nmsg.enabled = false\nmsg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 920,
        "wires": [
            [
                "a17a289ca2cf0927"
            ]
        ]
    },
    {
        "id": "d8c35800816dadf3",
        "type": "modbus-flex-getter",
        "z": "5d883b66ab92c38f",
        "name": "device3",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "bdfb47cc98849705",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2660,
        "y": 1420,
        "wires": [
            [
                "8e0898b4cc03fcb2",
                "0271be0f2336417d"
            ],
            []
        ]
    },
    {
        "id": "643f4e214e0dfc04",
        "type": "modbus-flex-getter",
        "z": "5d883b66ab92c38f",
        "name": "device4",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "707af59891c7b850",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2660,
        "y": 1600,
        "wires": [
            [
                "8c1e6d7f309a6fd0",
                "5401d1b731bb4d57"
            ],
            []
        ]
    },
    {
        "id": "c30826a17f3fb765",
        "type": "modbus-flex-getter",
        "z": "5d883b66ab92c38f",
        "name": "device5",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "18297589bebc75cf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2660,
        "y": 1800,
        "wires": [
            [
                "cbd0304b906d0898",
                "9a49e52667ae4680"
            ],
            []
        ]
    },
    {
        "id": "4aa82f2db03d8e05",
        "type": "exec",
        "z": "5d883b66ab92c38f",
        "command": "pkill -o firefox",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 2040,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ab4328bcb83cd8d5",
        "type": "inject",
        "z": "5d883b66ab92c38f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 640,
        "y": 2040,
        "wires": [
            [
                "4aa82f2db03d8e05"
            ]
        ]
    },
    {
        "id": "6bb0b0f550d9c4f5",
        "type": "ui_button",
        "z": "5d883b66ab92c38f",
        "name": "",
        "group": "93ac9517cad78fb4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "kill windows",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 2100,
        "wires": [
            [
                "4aa82f2db03d8e05"
            ]
        ]
    },
    {
        "id": "e91e9e90aaa5d2b8",
        "type": "modbus-flex-getter",
        "z": "5d883b66ab92c38f",
        "name": "device1",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "a88aefe847628dac",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1300,
        "y": 720,
        "wires": [
            [
                "adc48a4e444d5bf8"
            ],
            []
        ]
    },
    {
        "id": "bd6f4e7ae768eb34",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 66",
        "func": "msg.payload =\"\";\nmsg.payload = { value: msg.payload, 'fc': 1, 'unitid': 1, 'address': 100 , 'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 720,
        "wires": [
            [
                "e91e9e90aaa5d2b8"
            ]
        ]
    },
    {
        "id": "f38c99a860fdd9bd",
        "type": "switch",
        "z": "5d883b66ab92c38f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "bd6f4e7ae768eb34"
            ]
        ]
    },
    {
        "id": "b1149f338cc0b8e3",
        "type": "ip",
        "z": "5d883b66ab92c38f",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": true,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 650,
        "y": 1960,
        "wires": [
            [
                "d677d66e5bee90b4"
            ]
        ]
    },
    {
        "id": "d677d66e5bee90b4",
        "type": "ui_button",
        "z": "5d883b66ab92c38f",
        "name": "",
        "group": "c67235844a47b630",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload.internalIPv4}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 1960,
        "wires": [
            [
                "b1149f338cc0b8e3"
            ]
        ]
    },
    {
        "id": "07492316c843bf3e",
        "type": "function",
        "z": "5d883b66ab92c38f",
        "name": "function 67",
        "func": "msg.enabled = false\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 900,
        "wires": [
            [
                "509b9d6bc9be2446",
                "a17a289ca2cf0927"
            ]
        ]
    },
    {
        "id": "084f14bba103fc0d",
        "type": "exec",
        "z": "5d883b66ab92c38f",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 2200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a23c64e50f0a3866",
        "type": "ui_button",
        "z": "5d883b66ab92c38f",
        "name": "",
        "group": "69857fedd2ce5450",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 2200,
        "wires": [
            [
                "084f14bba103fc0d"
            ]
        ]
    },
    {
        "id": "6e28ed2ade5f635a",
        "type": "exec",
        "z": "5d883b66ab92c38f",
        "command": "sudo poweroff",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 2340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "46d5bcb8a26cfe63",
        "type": "ui_button",
        "z": "5d883b66ab92c38f",
        "name": "",
        "group": "d9ed09ec393c2a6d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 2340,
        "wires": [
            [
                "6e28ed2ade5f635a"
            ]
        ]
    },
    {
        "id": "09e4f68d1d97a11d",
        "type": "ui_button",
        "z": "5d883b66ab92c38f",
        "name": "",
        "group": "cbd28290cff7840e",
        "order": 5,
        "width": "8",
        "height": "2",
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-link ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 1260,
        "wires": [
            [
                "07a8a2a1f6f57ca7"
            ]
        ]
    },
    {
        "id": "07a8a2a1f6f57ca7",
        "type": "debug",
        "z": "5d883b66ab92c38f",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1260,
        "wires": []
    },
    {
        "id": "0154d0eb3cbf7162",
        "type": "ui_text",
        "z": "5d883b66ab92c38f",
        "group": "cbd28290cff7840e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<i class=\"fa fa-link \"></i>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a5a789a24236e2e5",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "cbd28290cff7840e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "88a70aa8fcc6397f",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "c2edbec94b594986",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "15dfc0f7e5451e3f",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "137cf211fbdde820",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "c56833dfd27ed5cd",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "adfdd2d9a43a588b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "290a5ed9cfe5b8c5",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "fbfe52798d66e999",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "d0b8462512ef94ab",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "d": true,
        "name": "",
        "group": "cbd28290cff7840e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 680,
        "wires": []
    },
    {
        "id": "b6baee99af2fa10c",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "c2edbec94b594986",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "6e94b08f4785a4c4",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "137cf211fbdde820",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "952d3982f09c1364",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "adfdd2d9a43a588b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "0ffe873b78d3b058",
        "type": "ui_gauge",
        "z": "57d42cd62c098dd8",
        "name": "",
        "group": "fbfe52798d66e999",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "950b976e020c8dc4",
        "type": "inject",
        "z": "57d42cd62c098dd8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Temperature",
        "payload": "0",
        "payloadType": "num",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "a5a789a24236e2e5",
                "88a70aa8fcc6397f",
                "15dfc0f7e5451e3f",
                "c56833dfd27ed5cd",
                "290a5ed9cfe5b8c5"
            ]
        ]
    },
    {
        "id": "4ab6c3ad35dfe0c6",
        "type": "inject",
        "z": "57d42cd62c098dd8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Humidity",
        "payload": "0",
        "payloadType": "num",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "d0b8462512ef94ab",
                "952d3982f09c1364",
                "0ffe873b78d3b058",
                "b6baee99af2fa10c",
                "6e94b08f4785a4c4"
            ]
        ]
    },
    {
        "id": "647095c478702cb5",
        "type": "function",
        "z": "57d42cd62c098dd8",
        "name": "tem/hum",
        "func": "\nlet h = msg.payload[1];\nlet t = msg.payload[2];\nh = h/100;\nt = t/100;\nreturn [\n        {payload:h,topic:\"Temperature\"},\n        {payload:t,topic:\"Humidity\"}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "a5a789a24236e2e5"
            ],
            [
                "d0b8462512ef94ab"
            ]
        ]
    },
    {
        "id": "14eed0e70fa8a199",
        "type": "link in",
        "z": "57d42cd62c098dd8",
        "name": "link_in1",
        "links": [
            "5754b5b780ed230a"
        ],
        "x": 225,
        "y": 300,
        "wires": [
            [
                "647095c478702cb5"
            ]
        ]
    },
    {
        "id": "7c889ee817a2962f",
        "type": "link in",
        "z": "57d42cd62c098dd8",
        "name": "link_in2",
        "links": [
            "9ce88d5c4028c31e"
        ],
        "x": 225,
        "y": 380,
        "wires": [
            [
                "89f568dd68150d08"
            ]
        ]
    },
    {
        "id": "f1435771f4c7e85a",
        "type": "link in",
        "z": "57d42cd62c098dd8",
        "name": "link_in3",
        "links": [
            "0271be0f2336417d"
        ],
        "x": 225,
        "y": 460,
        "wires": [
            [
                "9d14c2852645dd62"
            ]
        ]
    },
    {
        "id": "e9edabef99ad98ad",
        "type": "link in",
        "z": "57d42cd62c098dd8",
        "name": "link_in4",
        "links": [
            "8c1e6d7f309a6fd0"
        ],
        "x": 225,
        "y": 540,
        "wires": [
            [
                "58c5dc1ee5b5e68d"
            ]
        ]
    },
    {
        "id": "9a93d263cf457dd0",
        "type": "link in",
        "z": "57d42cd62c098dd8",
        "name": "link_in5",
        "links": [
            "cbd0304b906d0898"
        ],
        "x": 225,
        "y": 620,
        "wires": [
            [
                "99da77d95f461f50"
            ]
        ]
    },
    {
        "id": "89f568dd68150d08",
        "type": "function",
        "z": "57d42cd62c098dd8",
        "name": "tem/hum",
        "func": "\n\nlet t = msg.payload[1];\nlet h = msg.payload[0];\nh = h/100;\nt = t/100;\nreturn [\n        {payload:t,topic:\"Temperature\"},\n        {payload:h,topic:\"Humidity\"}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "88a70aa8fcc6397f"
            ],
            [
                "b6baee99af2fa10c"
            ]
        ]
    },
    {
        "id": "9d14c2852645dd62",
        "type": "function",
        "z": "57d42cd62c098dd8",
        "name": "tem/hum",
        "func": "\n\nlet t = msg.payload[1];\nlet h = msg.payload[0];\nh = h/100;\nt = t/100;\nreturn [\n        {payload:t,topic:\"Temperature\"},\n        {payload:h,topic:\"Humidity\"}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "15dfc0f7e5451e3f"
            ],
            [
                "6e94b08f4785a4c4"
            ]
        ]
    },
    {
        "id": "58c5dc1ee5b5e68d",
        "type": "function",
        "z": "57d42cd62c098dd8",
        "name": "tem/hum",
        "func": "\n\nlet t = msg.payload[1];\nlet h = msg.payload[0];\nh = h/100;\nt = t/100;\nreturn [\n        {payload:t,topic:\"Temperature\"},\n        {payload:h,topic:\"Humidity\"}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "c56833dfd27ed5cd"
            ],
            [
                "952d3982f09c1364"
            ]
        ]
    },
    {
        "id": "99da77d95f461f50",
        "type": "function",
        "z": "57d42cd62c098dd8",
        "name": "tem/hum",
        "func": "\n\n\nlet t = msg.payload[1];\nlet h = msg.payload[0];\nh = h/100;\nt = t/100;\nreturn [\n        {payload:t,topic:\"Temperature\"},\n        {payload:h,topic:\"Humidity\"}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "290a5ed9cfe5b8c5"
            ],
            [
                "0ffe873b78d3b058"
            ]
        ]
    },
    {
        "id": "c109a39a68f9753e",
        "type": "ui_template",
        "z": "57d42cd62c098dd8",
        "group": "cbd28290cff7840e",
        "name": "css",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-card .md-button{\n        font-size: 60px !important;\n    }\n    .md-thumb-container{\n        width:40px !important;\n    }\n    .md-bar{\n        width:60px !important;\n        height: 24px !important;\n    }\n    .md-thumb{\n        width: 30px !important;\n        height: 30px !important;\n    }\n    md-switch{\n        width: 100px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 350,
        "y": 80,
        "wires": [
            []
        ]
    }
]